{% extends "base.html" %}
{% load static %}

{% block title %} {{ block.super }} {% endblock title %} 

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% endblock stylesheet %}

{% block heading %}
<h2 style=""> index page </h2>
<a href="{% url 'polls:signup' %}">Signup</a> 
<h1>Questions:</h1>
{% endblock heading %}


{% block question_list %}
{% if latest_questions_list %}
    <ul>
        {% for question in latest_questions_list %}
            <li style="list-style-type: none;"><a href="{% url 'polls:detail' question.id %}"> 
                {{ question.question_text }} </a> </li>
        {% endfor %}
    </ul>
{% else %}
    <p> No polls are available.</p>
    {%  endif %}
{% endblock question_list %}
